<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Data User</title>

  <script>
    function setFocusToTextBox(){
      document.getElementById("data").focus();
    }
  </script>

</head>
<body onload="setFocusToTextBox()">

  <h1>User : <span sec:authentication="name">Bob</span></h1>

  <form th:action="@{/logout}" method="post" name="logoutForm">
    <input type="submit" value="Logout" />
  </form>

  <div th:text="${'Backend IP : '+ localAddress }">Local IP</div>
  <div th:text="${'Backend Port : '+ localPort }">Local Port</div>

  <hr>

  <form method="post" th:action="@{/sessiondata/save}">
    Input Data : <input name="data" id="data"> <input type="submit" value="Save">
  </form>

  <hr>

  <h2>Data User</h2>

  <form method="post" th:action="@{/sessiondata/clear}">
    <input type="submit" value="Clear Data">
  </form>

  <div th:if="${#lists.isEmpty(userdata)}">
    Tidak ada data
  </div>

  <ul th:unless="${#lists.isEmpty(userdata)}">
    <li th:each="d : ${userdata}" th:text="${d}">Data 1</li>
  </ul>
</body>
</html>